* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	font-family: verdana;
}
.container {
	width: 95%;
}

/* Style the header links */
.header {
	overflow: hidden;
	background-color: #3b3939;
	padding: 20px 10px;
}
.header a {
	float: left;
	color: rgb(252, 244, 244);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
/* Float the link section to the right */
.header-right {
	float: right;
}
h1 {
	text-align: center;
	font-size: 46px;
}
canvas {
	border: 1px solid black;
	width: 100%;
}
/* #main {
	width: 100%;
	height: 100vh;
	display: flex;
} */

/* nav {
	width: 100%;
	height: 120px;
	background-color: rgb(55, 53, 53);
}
nav ul {
	float: right;
	margin-right: 30px;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	text-decoration: none;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	color: #fff;
	padding: 30px;
} */
a.active,
a:hover {
	background: #d61e2e;
	transition: 0.5s;
}
/* .checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
}
#checkbtn {
	display: none;
} */
.flex-container {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #757373;
	text-decoration-color: rgb(252, 244, 244);
}
.flex-container > div {
	background-color: #f1f1f1;
	width: 100%;
	height: 350px;
	margin: 20px;
	text-align: center;
	line-height: 95px;
	font-size: 30px;
}
@media (max-width: 952px) {
	label.logo {
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a {
		font-size: 16px;
	}
}
@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}
	.header a {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #454646;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
		display: block;
	}
	.header-right {
		float: none;
		font-size: 20px;
	}
	a:hover,
	a.active {
		background: none;
		color: black;
	}
	#check:checked {
		left: 0;
	}
}
