* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	font-family: verdana;
}
.container {
	width: 95%;
}

/* Style the header links */
.header {
	overflow: hidden;
	background-color: #3b3939;
	padding: 20px 10px;
}
.header a {
	float: left;
	color: rgb(252, 244, 244);
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}
/* Float the link section to the right */
.header-right {
	float: right;
}
h1 {
	text-align: center;
	font-size: 46px;
}
canvas {
	border: 1px solid black;
	width: 100%;
}

a.active,
a:hover {
	background: #d61e2e;
	transition: 0.5s;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: gray;
}
.flex-container > div {
	background-color: white;
	width: 600px;
	height: 450px;
	margin: 20px;
	text-align: center;
	line-height: 95px;
	font-size: 30px;
}
@media (max-width: 952px) {
	/* img.logo {
		font-size: 30px;
		padding-left: 50px;
	} */
	.header a {
		font-size: 16px;
	}
}
@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}

	.header-right {
		float: none;
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 80px;
		left: -100%;
		text-align: center;
		display: block;
		font-size: 20px;
		transition: all 0.5s;
	}
	a {
		font-size: 16px;
	}
	a:hover,
	a.active {
		background: none;
		color: black;
	}
	#check:checked ~ i {
		left: 0;
	}
}
